.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-10
        %li.btn-default.btn-popular
          = link_to "Popular PROTO", "#", class: "btn-index btn-success"
        %li.btn-default.btn-popular
          = link_to "Newest PROTO", "#", class: "btn-index btn-info"
      = link_to "VIEW TAGS", tags_path, class: "btn btn-default btn-taglist col-lg-2"

.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  = paginate(@prototypes)
